*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --back-text-color: black; */
  --shop-background-color: grey;
  --shop-sign-color: #f2eecb;
  --shop-font: 'Anek Malayalam', sans-serif;
  --size: 10vw;
}

.body {
  background-color: var(--shop-background-color);
  font-family: var(--shop-font);
  font-weight: bold;
}

body,
html {
  height: 100%;
}
