*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --back-text-color: black; */
  --background-color: grey;
  --shop-font: 'Anek Malayalam', sans-serif;
  --size: 10vw;
}

body {
  background-color: var(--background-color);
  font-family: var(--shop-font);
  font-weight: bold;
}
