*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-size: 55px;
  --shop-background-color: black;
  --shop-sign-color: #f2eecb;
  --shop-highlight-color: #a52c26;
  --shop-font: 'Anek Malayalam', sans-serif;
  --shop-gold-color: #b57f0c;
  --shop-items-txt-color: #fff;
}

body {
  background-color: var(--shop-background-color);
  font-family: var(--shop-font) !important;
  font-weight: bold;
}

body,
html {
  height: 100%;
}

.app {
  overflow: hidden;
}

p {
  margin: 0;
}
