.footer-container {
  /* position: fixed; */
  bottom: 0;
  left: 0;
}

.footer-wrapper {
  background-color: var(--shop-highlight-color);
  /* height: 20vh; */
  padding: 2rem !important;
  font-size: 1rem;
}

@media only screen and (min-width: 1100px) {
  .footer-wrapper {
    font-size: 1.2rem;
  }
}

.contacts-navs-wrapper {
  color: var(--shop-background-color);
  margin: 0;
  width: 30vw;
}

.navs-wrapper {
  padding: 0;
  /* font-size: 1.3rem; */
  line-height: 20px;
  padding-left: 5vw;
  width: 80%;
}

.navs-wrapper p:hover {
  font-weight: bold;
  cursor: pointer;
}

.lower-footer {
  color: #ffffff;
  font-size: 0.7rem;
  height: 50px;
  padding-right: 4rem;
}
