.active-nav {
  color: white;
}

.nav-item :hover {
  color: var(--shop-highlight-color);
}

.nav-span {
  background-color: var(--shop-gold-color);
}

.left-brush-wrapper {
  width: var(--nav-size);
  max-width: var(--nav-size);
  height: calc(var(--nav-size) * 0.9);
  max-height: calc(var(--nav-size) * 0.9);
  margin-left: auto;
  z-index: 10;
}

.paint-drip-wrapper {
  /* width: 100px; */
  position: absolute;
  right: 0;
  z-index: 10;
}

.buttom-brush-wrapper {
  z-index: 10;
  position: relative;
}

.shop-icon {
  z-index: 10;
}

@media only screen and (max-width: 700px) {
  .shop-icon {
    z-index: 10;
    height: 10vw;
  }
}
