.carousel-img {
  justify-self: center;
  object-fit: cover;
  /* background-size: cover;
  background-position: 50% 50%; */
  object-position: 50% 50%;
  background-repeat: no-repeat;
  height: 50vh;
}
.carousel-img-wrapper {
  justify-content: center;
  align-items: center;
}

.carousel-img-container {
  /* margin-top: calc(-1.35 * var(--nav-size)); */
  margin-left: 0;

  width: 85% !important;
  height: 50vh;
  max-height: 50vh;
  background-color: var(--shop-background-color);
  display: block;

  /* margin-top: -10%; */
  overflow: hidden;
}

.carousel-control-next-icon {
  margin-right: 2rem;
}

.rectangle-sign {
  right: 0;
  top: 0;
  position: absolute;
  float: right;
  width: 26%;
  background-color: var(--shop-sign-color);
  height: 50vh;
  max-height: 50vh;
  z-index: 2;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 100%);
}

.welcome-txt-wrapper {
  text-align: right;
  margin-top: var(--nav-size);
}

.shop-name-txt {
  color: var(--shop-highlight-color);
  line-height: 3vw;
  font-size: 3vw;
  font-weight: 700;
}

.welcome-txt {
  line-height: 1vw;
}

.welcome-txt-world {
  font-weight: 500;
}

.line {
  background-color: var(--shop-gold-color);
  border: none;
  height: 3px;
  width: 80%;
  margin: 1rem auto;
}

.items-heading {
  color: var(--shop-highlight-color);
  font-weight: 700;
}

.items-txt-color {
  color: var(--shop-items-txt-color);
}

.categories-filter-txt {
  font-weight: 400;
}

.categories-filter li:hover {
  font-weight: 200;
  color: var(--shop-highlight-color);
  cursor: pointer;
}

.cat-active {
  color: var(--shop-gold-color);
}

.knife-icon {
  left: 1vw;
}

@media only screen and (max-width: 1000px) {
  .knife-icon {
    left: 2vw;
  }
}

@media only screen and (max-width: 750px) {
  .knife-icon {
    left: 3vw;
  }

  .welcome-txt {
    font-size: 2vw;
  }
}
